<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4"><%=article.title%></h1>
    <div class="text-muted mb-2"><%= article.createdAt.toLocaleDateString() %></div>

    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.slug%>" class="btn btn-info">Edit</a>

    <div class="mt-2">
      <%= article.markdown%>
    </div>
  </div>
</body>
</html>